*{
    box-sizing: border-box;
}
body {
    background:url("../images/background.jpg")
    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.container{
    background-color: darkorange;
    text-align: center;
    
    
}
h1{
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    margin-bottom: 20px;
}
