*{
    box-sizing: border-box;
}
body {
    background:url("../images/background.jpg")
    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.container{
    background-color: darkorange;
    text-align: center;
    
    
}
h1{
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    margin-bottom: 20px;
}
#playagain{
    margin-bottom: 10px;
}
button{
    padding: 10px;
}
button:hover{
    background-color: lightskyblue;
}
#show-number{
    margin-bottom: 10px;
    padding:10px;
    color:maroon;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
